<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensor Data Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bảng theo dõi cảm biến</h1>
        <div class="data-block">
                <div class="data-item" id="temp">Nhiệt độ: </div>
                <div class="data-item" id="humi">Độ ẩm: </div>
                <div class="data-item" id="gas">Mật độ khí gas: </div>
                <div class="data-item" id="current">Dòng điện: </div>
            </div>
            <script>
            function updateSensorData() {
                fetch('/api/sensordata')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('temp').textContent = 'Nhiệt độ: ' + data.temp;
                        document.getElementById('humi').textContent = 'Độ ẩm: ' + data.humi;
                        document.getElementById('gas').textContent = 'Mật độ khí gas: ' + data.gas;
                        document.getElementById('current').textContent = 'Dòng điện: ' + data.current;
                    });
            }
            setInterval(updateSensorData, 2000); 
            updateSensorData();
            </script>
        </div>
    </div>
</body>
</html>